/*
Intro head
*/

#intro-head {
  padding: 80px 0;
  color: white;
}

#intro-head h1,
#intro-head .lead {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.main-bar {
  width: 90%;
  margin: 0 auto;
}

.top-bar,
.top-bar ul {
  background: transparent;
}

.top-bar-right .menu {
  margin-top: 15px;
}

.top-bar-right .menu a {
  color: white;
}

.main-bg {
  background: url("../images/header-bg.jpg") top center;
}

/*
Brands we sell
*/

#brands {
  background: #001123;
  color: #AAAFB4;
  padding: 20px 0;
}

#brands .title {
  margin-bottom: 20px;
}

#brands ul {
  padding: 10px 0;
}

#brands ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 25px;
}

#brands ul li > img {
    max-height: 19px;
}

/*
parts for
*/

#parts-for {
  padding: 40px 0;
}

/*
We also
*/

#we-also {
  background: url("../images/we-also.jpg") center no-repeat;
  color: white;
  height: 690px;
}

.we-also-inner {
  height: 690px;
  position: relative;
}

.we-also-inner p {
  text-align: justify;
}

.we-also-inner .center-vertically {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/*
distribuitors
*/

#distribuitors .distribuitors {
  padding: 80px 0;
}

#distribuitors .distribuitors p{
  text-align: justify;
}

#distribuitors .distribuitors .distribuitors-logo {
  margin-top: 40px;
}

/**/

.title-block {
  padding: 50px 0 0;
}

/*
Buttons
*/

.button.blue{
  background: #008BF3;
}

.round {
  -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
